.vscode
*.pyc
.ipynb_checkpoints
vendor
server.log
generate.log
spotify_ids
bandcamp_ids
rob_ids
speccy_model
spotify_tracks.p
spotifytovec.p
tracktovec.p
urltovec.p
bandcamp_tracks.p
mp3tovec.p
Music
gpt2
password
